.list-group-item {
    font-size: 18px;
    font-weight: 500;
}
.custom-hero {
    padding-top: 10rem !important;  /* เพิ่ม padding ด้านบน */
    padding-bottom: 10rem !important;  /* เพิ่ม padding ด้านล่าง */
}